name: Test and package

on:
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        game_version: [ 'classic', 'wrath', 'cata', 'mists', 'retail' ]

    steps:
      - uses: actions/checkout@v4

      - name: Get build utils
        uses: actions/checkout@v4
        with:
          repository: Beast-Masters-addons/build_utils
          path: tests/build_utils

      - name: Install lua dependencies
        run: |
          sudo apt-get update
          sudo apt-get -y install luarocks
          sudo luarocks install luaunit
          sudo luarocks install luacov
          sudo luarocks install luacheck

      - name: Run luacheck
        run: |
          luacheck --no-self -a --no-max-line-length -g addon
          luacheck -g FOM_CookingScan.lua
          luacheck --no-unused --ignore 631 542 431 -g FeedOMatic.lua
          luacheck --no-unused --ignore 614 611 -g FOM_Foods.lua

      - name: Build the addon
        uses: BigWigsMods/packager@v2.5.1
        with:
          args: -g ${{ matrix.game_version }} -z -d

      - name: Move libraries and compiled metadata files
        run: |
          mv .release/GFW_FeedOMatic/libs .
          mv .release/GFW_FeedOMatic/GFW_FeedOMatic.toc .
          mv .release/GFW_FeedOMatic/Libs.xml .

      - name: Resolve toc
        run: python tests/build_utils/utils/parse_toc.py GFW_FeedOMatic.toc

      - name: Run tests
        run: for test in test*.lua; do lua -lluacov "$test"; done
        working-directory: tests
        env:
          GAME_VERSION: ${{ matrix.game_version }}

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    runs-on: ubuntu-latest

    needs:
      - test

    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

    steps:
      - uses: actions/checkout@v5

      - name: WoW Packager
        uses: BigWigsMods/packager@v2.5.1

      - uses: actions/upload-artifact@v6
        with:
          name: Feed-O-Matic-${{ github.head_ref || github.ref_name }}
          path: ${{ github.workspace }}/.release
          include-hidden-files: true
